/* nav bar styling */

ul{
list-style: none;
}

li a{
    display: block;
    padding: 2px; 
}


.buildinginfo{
  position:fixed;
  top:0;
  right:0;
  max-width: 20%;
}

.button{
  color:aquamarine;
}








.footer{
  display:flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #97ADB0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(34, 0, 255);
  padding: 50px;
  padding-bottom: 0;
 
}

.footer a{
  border:0;
}

.row{
  display: flex;
  flex-direction: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1024px;
  margin:0;
}

.col{
  flex: 1;
  padding:20px;
}

.col-content{
  min-height: 200px;

}

.footer-title{
  font-size: 2rem;
  margin:0;
}

.footer-subtitle{
  font-size: 1rem;
}
.footer-subtitle:hover{
  text-decoration: underline;
  cursor:pointer;
}

.footer-subsubtitle{
  font-size: .7rem;
  display:flex;   
  flex-direction: row;     
  flex-wrap: wrap;   
  flex-basis: 100%; 
  justify-content: center;
  text-align: center;
  color:rgb(34, 0, 255);
  padding:20px;
  img{
      padding:20px;
  }
}

.pagecontainer{
  display:flex;
  flex-direction: column;
  margin:auto;
  justify-content: center;
  padding:20px;
  text-align: center;
}

.ComposerNav{

  li{
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  a{
    color:aliceblue;
  }
}