/* NAV styling */

.LgogToHome a {
  border: none;
  padding: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding: 10px;
  margin-top: 0;
  overflow: hidden;
  float: right;
  
}

li {

}

a {
  color: black;
  text-decoration: none;
  font-style: italic;
  padding: 5px;
  border: 2px solid #86939d; 


}

/* Nav buttons */
li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 30px;
  height: 30px;
  margin: 10px;
  padding: 10px;

  background-color: #f0dbb1;
  box-shadow: 0 10px 10px 0 #000000;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);


  font-family: 'Avenir', sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  letter-spacing: .5px;

  transition: transform 0.2s ease, box-shadow 0.2s ease, background-image 0.2s ease;
}

li a:hover {
  color: rgb(55, 49, 49);
  background-image: url("images/NAVbuttonengaged.png");
  background-size: cover;
  transform: scale(0.96) translateY(-2px);
  box-shadow: 2px;


}

li .navmusic:hover,
li .navarticles:hover,
li .navgallery:hover,
li .navabout:hover {
  background-image: url("images/NAVbuttonengaged.png");
  background-size: cover;
  transform: scale(0.9) translateY(2px);
  
  transition: all 0.2s ease;
}

footer{
    text-align: center;
    display: flex;    
    flex-wrap:wrap;
    justify-content: center;
    bottom: 0;
    margin: auto;

    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #b7ccda;

   img{
        max-width: 40px;
        max-height: 40px;
        margin:auto;
    }

    p{
      font-family: 'Times New Roman', Times, serif;
      font-size: .8rem;
    }


}

@media screen and (max-width: 1000px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}

